global-exclude *.py[cod] __pycache__ *.so *.dylib

graft docs
prune docs/_build

graft examples
prune examples/rv-react-ts-example

graft tests

include .editorconfig
include .isort.cfg

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include *.txt
recursive-include requirements *.txt

include pytest.ini
