/* (unchanged from template) */

import { {{ modtype_name }}BaseControllers } from "./{{ modtype_name | camelcase }}BaseControllers"

export class {{ modtype_name }}Controllers extends {{ modtype_name }}BaseControllers {}
